@use "@app/styles/bs.scss" as bs;
@use "@app/styles/defines.scss" as defines;

@mixin hero-container {
    width: 100%;
}

@mixin hero {
    padding-top: map-get(defines.$spacers, 5);
    padding-bottom: map-get(defines.$spacers, 5);
}