/back-*
/TODO
yarn-error.log
.nowrap

# Custom ones
/posts
/.devcontainer
/.vscode
/deploy
!/deploy/.gitkeep
!/posts/.gitkeep
.nowrap

node_modules/
.cache/
/*/public
.yalc/
yalc.lock

gatsby-types.d.ts

*.pyc
/deploy
