{
  "arrowParens": "avoid",
  "semi": false,
  "useTabs": true,
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "^@app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true
}
