@use "@app/styles/bs.scss";
@use "@app/styles/defines.scss"as def;
@use "@app/styles/hero.scss"as hero;
@use "@app/styles/card.scss"as card;

$first-hero-background: #b39cf3;
$second-hero-background: #a1ccf0;

.header {
    text-align: center;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &__overlay {
        padding-top: map-get(def.$spacers, 5);
        z-index: 1000;

        grid-row: 1;
        grid-column: 1;

        >p {
            @extend .lead;
        }
    }

    &__background {
        grid-row: 1;
        grid-column: 1;
    }


    &__scroll-button {
        @extend .btn;
        @extend .btn-primary;

        animation: appear-later-animation 1s ease-out 1;
    }
}

.about-website {
    @include hero.hero();

    background: $first-hero-background;
    text-align: center;
}

.features {
    @include hero.hero();


    // background-color: $second-hero-background;

    &__card-container {
        @include card.card-container();
    }

    &__feature {
        @include card.card();
        text-align: center;
    }

    &__btn {
        @extend .btn;
        @extend .btn-primary;
    }
}

@keyframes appear-later-animation {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact {
    background-color: $second-hero-background;
    width: 100%;
    @extend .pt-5;
    @extend .pb-5;

    text-align: center;

    &__container {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        column-gap: 10vw;

        > * {
            padding: map-get(def.$spacers, 3);
            width: auto;
            align-self: center;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
            }

            > * {
                margin-top: map-get(def.$spacers, 2);
            }
        }
    }
}