// Mixin for tile-like background that graphics editors use to represent opacity.
@mixin opaque-tile-background() {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

    $opaque-tile-one: #808080;
    $opaque-tile-two: transparent;

    background: repeating-conic-gradient(
            $opaque-tile-one 0% 25%,
            $opaque-tile-two 0% 50%
        )
        50% / 20px 20px;    
}