@use "@app/styles/bs.scss" as bs;
@use "@app/styles/defines.scss" as def;

.no-tags {
	@extend .text-muted;
}

.tags {
	margin-top: map-get(def.$spacers, 2);
	margin-bottom: map-get(def.$spacers, 2);

	&__list {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: map-get(def.$spacers, 2);
	}

	& > li {
		display: inline;
	}

	&__tag {
		@extend .btn;
		@extend .btn-outline-secondary;
		@extend .btn-sm;

		font-size: 0.7rem;
	}
}
