.dissolve-enter {
	opacity: 0;
}

.dissolve-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.dissolve-exit {
	opacity: 1;
}

.dissolve-exit-active {
	opacity: 0;
	transition: opacity 500ms;
}

.overlap-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    & > * {
        grid-column: 1;
        grid-row: 1;
    }
}