@use "@app/styles/scrollbar.scss" as scrollbar;

.paint-display {
    @include scrollbar.pretty-scrollbar();

    position: relative;
    touch-action: none;
    overflow: hidden;

    & > * {
        position: absolute;
        top: 0;
        left: 0;
    }

    & * {
        user-select: none;
        touch-action: none;
    }
}

.paint-overlay {
    z-index: 10000000;
}