@use "@app/styles/scrollbar.scss" as scrollbar;

.paint-display {
    @include scrollbar.pretty-scrollbar();

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    touch-action: "none";
    overflow: auto;

    & > * {
        grid-row: 1;
        grid-column: 1;
    }

    & > * {
        user-select: none;
    }
}