@use "@app/styles/bs.scss" as bs;
@use "@app/styles/defines.scss" as def;

.post-container {
	@extend .container;
	margin-top: map-get(def.$spacers, 3);
}

.post-footer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;

	@mixin widget {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;

		row-gap: map-get(def.$spacers, 2);

		&__title {
			grid-row: 1;
			grid-column: 1;
			text-align: center;

			font-size: 1.2rem;
			text-transform: capitalize;
		}

		&__desc {
			grid-row: 2;
			grid-column: 1;
			text-align: center;

			@extend .btn;
			@extend .btn-outline-secondary;
		}
	}

	&__prev {
		grid-row: 1;
		grid-column: 1;

		width: fit-content;

		@include widget();
	}

	&__next {
		grid-row: 1;
		grid-column: 2;

		width: fit-content;
		text-align: right;
		margin-left: auto;

		@include widget();
	}
}

.blog-info-header {
    @extend .text-muted;
    
    text-align: center;
    margin-bottom: map-get(def.$spacers, 3);
}
