@use "@app/styles/defines.scss" as def;
@use "@app/styles/bs.scss" as bs;

.post-list-container {
    @extend .container;
	padding-top: map-get(def.$spacers, 5);
}

.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-list-header {
    text-align: center;
}

.post-entry {
    &__excerpt {
        @extend .text-muted;
        font-size: 0.8rem;
    }

    &__see-post {
        @extend .btn;
        @extend .btn-primary;
    }
}