$background-z-index: 10000;

@mixin fullscreen-container() {
    position: fixed;
    height: 100vh;
    width: 100vh;

    top: 0;
    left: 0;
    z-index: $background-z-index; // Big z-index to make this element display on top of others
    
    overflow: hidden;
}