$height: 6px;
$width: 6px;
$box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
$border-radius: 12px;

@mixin pretty-scrollbar-dark {
	&::-webkit-scrollbar {
		height: $height;
		width: $width;
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background: black;
		border-radius: $border-radius;
		box-shadow: $box-shadow;
	}

	&::-webkit-scrollbar-corner {
		background: white;
	}

	scrollbar-color: black white;
	scrollbar-width: thin;
}

@mixin pretty-scrollbar-light {
	&::-webkit-scrollbar {
		height: $height;
		width: $width;
		background: black;
	}

	&::-webkit-scrollbar-thumb {
		background: white;
        border-radius: $border-radius;
		box-shadow: $box-shadow;
	}

	&::-webkit-scrollbar-corner {
		background: black;
	}

	scrollbar-color: white black;
	scrollbar-width: thin;
}
